* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    background-color: rgb(34, 33, 31);
}

#nav{
    background-color: #182030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

img {
    width: 100%;
    align-self: center;
}

#container{
    background-image: url(https://images.immediate.co.uk/production/volatile/sites/25/2020/04/Things-never-knew-astronomy-e454e5d.jpg?webp=true&quality=90&resize=620%2C413);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

